<footer class="container-fluid shadow">
    <div class="row justify-content-center py-5">
        <h3 class="text-center text-white pb-4 text-uppercase">AvaiLabel On</h3>
        <div class="col-6 col-md-2 col-lg-2">
           <img class="img-fluid p-2" src="../../../assets/appstore.png" alt="">
        </div>
        <div class="col-6 col-md-2 col-lg-2">
           <img class="img-fluid p-2" src="../../../assets/gplay.png" alt="">
        </div>
        <div class="col-6 col-md-2 col-lg-2">
           <img class="img-fluid p-2" src="../../../assets/firestick.png" alt="">
        </div>
        <div class="col-6 col-md-2 col-lg-2">
           <img class="img-fluid p-2" src="../../../assets/smarttv.png" alt="">
        </div>
        <div class="col-6 col-md-2 col-lg-2">
           <img class="img-fluid p-2" src="../../../assets/roku.png" alt="">
        </div>
    </div>
    <div class="row py-3 px-lg-5  borderdown">
        <div class="col-12 col-md-5 col-lg-6 text-center text-md-start my-auto">
            <p class="mb-0">Copyrights &#169; 2021 Incrivel Technologies Pvt Ltd</p>
        </div>
        <div class="col-12 col-md-7 col-lg-6 text-center text-lg-end">
            <div>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">FAQs</a>
                <a href="#">Customer Support</a>
            </div>
        </div>
    </div>
</footer>
